.pic {
  width: 90%;
  height: 90%;
  padding-left: 10%;

}
ion-card {
  border-radius: 55px;
  background-color: #f6ddb4;
  color: black;
}

ion-button {
  --border-radius: 20px;
  padding-top: 23%;
  padding-left: 12%;
}

.bg {
  background-color: #c49871;
  padding: 0.1%;
}
